html, body {
	font-size: 21px;
	font-family: 'Fira Sans', sans-serif;
	-ms-user-select: none; 
	-moz-user-select: none; 
	-webkit-user-select: none; 
	user-select: none;
}



.main_block {
	position: relative;
	margin: 0 67px;
}


.greeting {
	position: relative;
	padding: 30px 60px 0;

}



.instruction {
	border: 1px solid;
	border-radius: 4px;
	margin: 0 67px;
	padding: 0 30px 0 30px;
	min-width: 630px;
	box-shadow: 0 0 11px 5px rgba(0, 0, 255, .2);
	border-color: #D8BFD8;
}



.info {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}


.program_name {
	margin: 0 0 70px 0;
	font-size: 25px;
}

.icon_instruction {
	vertical-align: top;
}



.ggrerw {
	margin: 26px 0 0 0;
	vertical-align: initial;
	outline: none;
}


.TRUU {
	font-size: 41px;

}


.resUU {
	display: flex;
	border-color: violet;
	margin: 30px auto;
	align-content: space-between;
	justify-content: space-between;
}

.row {
	flex: 1em;
}

.qrcode {
	padding: 15px 30px;
}


.attention {
	font-size: 15px;
	text-align: center;
	color: rgba(0,0,0,0.5);
}

.qr_code {
	display: block;
	margin-left: auto;
    margin-right: auto;
}


.button {
	margin : 30px 67px;
	padding : 15px 70px;
	border : none;
	background : linear-gradient(to right, #7CFC00, #98FB98);
	font-size : 40px;
	color : white;
	border-radius : 3px;
}


.button:hover {
	background: #3CB371;
	background-color: #3CB371;

